<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= city.title
    meta(name=description, content=city.description)
  body
    h1= "Адресные таблички на частный дом: цена в " + city.prepositionalCity
    p Адресные таблички украшают многоквартирный дом, офисные здания, дачи и частные коттеджи.

    //- footer
    //-   each item in cities
    //-     a(href='http://' + item.domainName + '.localhost:3000')= item.name

    a(href='http://' + city.cityEn + '.localhost:3000')= city.name